# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
charset = utf-8

# 4 space indentation
indent_style = space
indent_size = 4
max_line_length = 100
trim_trailing_whitespace = true


[*]
spelling_languagess = en-US
spelling_exclusion_path = ./tools/inviwo.dict
