[submodule "modules/eigenutils/ext/eigen"]
    path = modules/eigenutils/ext/eigen
    url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "modules/hdf5/ext/hdf5"]
    path = modules/hdf5/ext/hdf5
    url = https://github.com/live-clones/hdf5.git
[submodule "ext/pybind11"]
    path = ext/pybind11
    url = https://github.com/pybind/pybind11.git
[submodule "tools/codegen/warn/warn"]
    path = tools/codegen/warn/warn
    url = https://github.com/petersteneteg/warn.git
[submodule "ext/utf/utfcpp"]
    path = ext/utf/utfcpp
    url = https://github.com/nemtrif/utfcpp
[submodule "ext/benchmark/benchmark"]
    path = ext/benchmark/benchmark
    url = https://github.com/petersteneteg/benchmark
[submodule "ext/gtest/gtest"]
    path = ext/gtest/gtest
    url = https://github.com/inviwo/googletest.git
[submodule "modules/glfw/ext/glfw/glfw"]
    path = modules/glfw/ext/glfw/glfw
    url = https://github.com/inviwo/glfw.git
[submodule "ext/glm/glm"]
    path = ext/glm/glm
    url = https://github.com/inviwo/glm.git
[submodule "ext/fmt/fmt"]
    path = ext/fmt/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "tools/meta/ext/pegtl"]
    path = tools/meta/ext/pegtl
    url = https://github.com/taocpp/PEGTL.git
[submodule "tools/meta/ext/inja"]
    path = tools/meta/ext/inja
    url = https://github.com/pantor/inja.git
[submodule "modules/cimg/ext/openexr/openexr"]
    path = modules/cimg/ext/openexr/openexr
    url = https://github.com/inviwo/openexr.git
[submodule "modules/assimp/ext/assimp/assimp"]
    path = modules/assimp/ext/assimp/assimp
    url = https://github.com/inviwo/assimp.git
[submodule "modules/fontrendering/ext/freetype/freetype"]
    path = modules/fontrendering/ext/freetype/freetype
    url = https://github.com/inviwo/freetype2.git
