#nav-tree .children_ul {
  margin:0;
  padding:4px;
}

#nav-tree ul {
  list-style:none outside none;
  margin:0px;
  padding:0px;
}

#nav-tree li {
  white-space:nowrap;
  margin:0px;
  padding:0px;
}

#nav-tree .plus {
  margin:0px;
}

#nav-tree img {
  margin:0px;
  padding:0px;
  border:0px;
  vertical-align: middle;
}

#nav-tree a {
  text-decoration:none;
  padding:0px;
  margin:0px;
  outline:none;
}

#nav-tree .label {
  margin:0px;
  padding:0px;
  font: 12px 'Montserrat',Geneva,Helvetica,Arial,sans-serif;
}

#nav-tree .label a {
  padding:2px;
}

#nav-tree .selected a {
  text-decoration:none;
  color: #258bd2; 
}

#nav-tree .children_ul {
  margin:0px;
  padding:0px;
}

#nav-tree .item {
  margin:0px;
  padding:0px;
}

#nav-tree {
  padding: 0px 0px;
  background-color: #FAFAFB; 
  font-size:14px;
  overflow:auto;
}

#doc-content {
  overflow:auto;
  display:block;
  padding:0px;
  margin:0px;
  margin-left: 312px;
  -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

#side-nav {
  padding:0 6px 0 0;
  margin: 0px;
  display:block;
  position: absolute;
  left: 0px;
  width: 306px;
}

.ui-resizable .ui-resizable-handle {
  display:block;
}

.ui-resizable-e {
  background-image: none;
  background-color: none;
  background-size:100%;
  background-repeat:repeat-y;
  background-attachment: scroll;
  cursor:ew-resize;
  height:100%;
  right:5px;
  top:0;
  width:9px;
  border-right: 1px solid #d4d4d4;
}

.ui-resizable-handle {
  display:none;
  font-size:0.1px;
  position:absolute;
  z-index:1;
}

#nav-tree-contents {
  margin: 6px 0px 0px 6px;
}

#nav-tree {
  background-color: #FAFAFB;
  -webkit-overflow-scrolling : touch; /* iOS 5+ */
}

#nav-sync {
  position:absolute;
  top:5px;
  right:24px;
  z-index:0;
}

#nav-sync img {
  opacity:0.3;
}

#nav-sync img:hover {
  opacity:0.9;
}

@media print
{
  #nav-tree { display: none; }
  div.ui-resizable-handle { display: none; position: relative; }
}

