/* LESS - http://lesscss.org style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=7001q0kcZEd2+Yw7UQahRu4mmot */

@color-primary-0: #FF9898;  /* Main Primary color */
@color-primary-1: #FFE7E7;
@color-primary-2: #FFC0C0;
@color-primary-3: #F06A6A;
@color-primary-4: #C33B3B;

@color-secondary-1-0: #FFED98;  /* Main Secondary color (1) */
@color-secondary-1-1: #FFFBE7;
@color-secondary-1-2: #FFF4C0;
@color-secondary-1-3: #F0D96A;
@color-secondary-1-4: #C3AC3B;

@color-secondary-2-0: #907FC6;  /* Main Secondary color (2) */
@color-secondary-2-1: #E9E4F9;
@color-secondary-2-2: #BEB2E4;
@color-secondary-2-3: #6753A5;
@color-secondary-2-4: #473386;

@color-complement-0: #82DB82;   /* Main Complement color */
@color-complement-1: #E4FBE4;
@color-complement-2: #B3EEB3;
@color-complement-3: #55C055;
@color-complement-4: #2F9C2F;


ul,ol {
    margin : 0px;
    padding : 0px;
}
ul li {
    list-style-type : none;
    padding : 0px;
}
ol li {
    list-style-type: decimal;
    padding-left : 10px;
}

.ok {
    background-color : @color-complement-1;
}
.fail {
    background-color : @color-primary-1;
}
.disabled {
    background-color : @color-secondary-1-1;
}
.toggle {
    cursor : pointer;
}
.toggle:hover {
    color : #555555;
}
a.version {
    padding : 0px 5px 0px 0px;
}
a:link, a:visited {
    text-decoration: none;
    color : #000000;
}
a:hover, a:active {
    text-decoration: underline;
    color : #000000;
}

div.title {
    font-family: sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    vertical-align : middle;
    font-size : 250%;
    padding : 10px 10px 10px 10px;
    display : inline-block;
}
div.titleimg {
    vertical-align : middle;
    padding : 0px 0px 0px 0px;
    display : inline-block;
}
div.subtitle {
    font-family: sans-serif;
    font-size : 90%;
}

div.slider {
    display: flex;
}

div.slider div.zoom {
    padding : 0px;
    margin : 0px;
}

div.slider div.zoom:last-child{
   padding : 0px 5px 0px 0px;
}

div.slider div.zoom  img {
    width: 100%;
    padding : 0px;
    margin : 0px;
    border : 1px solid #000000;
}

div.slider div.imgtestlabel {
    display : inline;
    flex : 1;
    padding : 5px;
    margin : 0px;
    border : 1px transparent #000000;
}

img.zoomImg {
    background-image : 
    linear-gradient(45deg, gray 25%,  transparent 25%, transparent 75%, gray  75%), 
    linear-gradient(45deg, gray 25%,  transparent 25%, transparent 75%, gray  75%), 
    linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%), 
    linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%);
    background-position : 0 0, 60px 60px, -60px 0, 0 60px;
    background-size : 120px 120px;
}
img.test{
    background: 
        linear-gradient(45deg, gray  25%, transparent 25%, transparent 75%, gray  75%), 
        linear-gradient(45deg, gray  25%, transparent 25%, transparent 75%, gray  75%), 
        linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%), 
        linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%);
    background-position: 0 0, 15px 15px, -15px 0, 0 15px;
    background-size: 30px 30px;
    padding : 0px;
    border : 1px solid #000000;
}
img.diff {
    padding : 0px;
    border : 1px solid #000000;
}

div.libody {
    margin-left : 20px;
    padding-bottom : 15px;
}
div.head {
    border-bottom-style : solid;
    border-bottom-color : #dddddd;
    border-bottom-width : 2px;
}
div.row {
    border-top-style : solid;
    border-top-width : 1px;
    border-top-color : #dddddd;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
div.cell {
    margin : 0px 5px 0px 5px;
    display : inline-block;
    overflow: hidden;
}
span.runtime {
    float : left;
    padding-right : 5px;
    width : 40px;
}
div.testname {
    width : 170px;
}
div.testmodule {
    width : 170px;
}
div.testfailures {
    width : 130px;
}
div.testruntime {
    width : 130px;
}
div.testdate {
    width : 150px;
}
div.imagedifference {
    margin : 0px 5px 0px 5px;
    display : inline-block;
    width : 170px;
}
div.imagespark {
    margin : 0px 5px 0px 5px;
    display : inline-block;
    width : 75px;
}
div.imagepixels {
    margin : 0px 5px 0px 5px;
    display : inline-block;
    width : 90px;
}
div.imagepercent {
    margin : 0px 5px 0px 5px;
    display : inline-block;
    width : 90px;
}
div.imagedelta {
    margin : 0px 5px 0px 5px;
    display : inline-block;
    width : 200px;
}
div.imagename {
    display : inline-block;
    width : 200px;
}
div.itemname {
    width : 100px;
}
div.key {
    width : 150px;
}

div.log {
  font-family: monospace;
}
div.log .info {
}
div.log .warn {
    color : orange;
}
div.log .error {
    color : red;
}

input {
    vertical-align : middle;
    border-radius : 5px;
    font-size : 100%;
    padding : 10px 10px 10px 10px;
    border : solid 1px #ccc;
}
input:focus {
    outline : none;
    border-color : #aaa;
}
.sort {
    background : none;
    font-size : 100%;
    cursor : pointer;
    display : inline-block;
    padding : 0px 30px 0px 0px;
    border : none;
}
.sort:hover {
    background-color : #dddddd;
}
.sort:active {
    background-color : #bbbbbb;
}
.sort:focus {
    outline:none;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}

/* flot plots */
div.flot-summary {
    width: 500px;
    height: 150px;
}


