name: Build Inviwo

on: 
  push:
  workflow_dispatch:

permissions:
  contents: write  # Enable vcpkg to write to the dependency graph

env:
  VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'         # recognized by vcpkg
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  VCPKG_FEATURE_FLAGS: dependencygraph
  # QT_DEBUG_PLUGINS: 1                                        # print qt plugin debug info

jobs:
  build:
    strategy:
      matrix:
        system: [windows, macos, linux]
        linkage: [dynamic, static]
        configuration: [Release, Debug]
        
        include:
          - system: windows
            os: 'windows-latest'
            mono: ''
            cmake: > 
              -DIVW_MODULE_EIGENUTILS=ON
              -DIVW_MODULE_HDF5=ON
              -DIVW_MODULE_FFMPEG=ON
              -DIVW_MODULE_WEBBROWSER=ON
              -DIVW_DOXYGEN_PROJECT=ON 
              -DIVW_DOXYGEN_LATEX_PATH="C:/tools/TinyTeX/bin/win32/pdflatex.exe"
            preset: msvc-dev-vcpkg
            targets: 'ALL_BUILD'
            installer: 'inviwo-installer-win'
            artifact: 'build/inviwo-v*.exe'
          
          - system: macos
            os: 'macos-13' # for now macos-latest == macos-12 since macos-13 is still "beta"
            mono: 'mono'
            cmake: >
              -DIVW_MODULE_EIGENUTILS=ON
              -DIVW_MODULE_HDF5=ON
              -DIVW_MODULE_FFMPEG=ON
              -DIVW_MODULE_WEBBROWSER=ON
            preset: ninja-dev-vcpkg
            targets: 'all'
            installer: 'inviwo-installer-macos'
            artifact: 'build/Inviwo-v*.dmg'
          
          - system: linux
            os: 'ubuntu-22.04'
            mono: 'mono'
            # Disable benchmark for now due to error: 
            # memcpy’ is not a member of ‘std’; did you mean ‘wmemcpy’
            cmake: >
              -DIVW_MODULE_EIGENUTILS=ON
              -DIVW_MODULE_HDF5=ON
              -DIVW_MODULE_FFMPEG=ON
              -DIVW_MODULE_WEBBROWSER=ON
              -DIVW_TEST_BENCHMARKS=OFF
            preset: ninja-dev-vcpkg
            targets: 'all'
            installer: 'inviwo-installer-ubuntu'
            artifact: 'build/inviwo-v*.deb'
          
          # linkage
          - linkage: 'dynamic'
            cmake_linkage: 'ON'
          - linkage: 'static'
            cmake_linkage: 'OFF'
          
          # set triplets
          - system: 'windows'
            linkage: 'dynamic'
            triplet: 'x64-windows'
          - system: 'windows'
            linkage: 'static'
            triplet: 'x64-windows-static-md'
            
          - system: 'macos'
            linkage: 'dynamic'
            triplet: 'x64-osx-dynamic'
          - system: 'macos'
            linkage: 'static'
            triplet: 'x64-osx'
            
          - system: 'linux'
            linkage: 'dynamic'
            triplet: 'x64-linux-dynamic'
          - system: 'linux'
            linkage: 'static'
            triplet: 'x64-linux'

          # extra targets 
          - system: windows
            linkage: dynamic
            configuration: Release
            targets: 'ALL_BUILD DOXY-Inviwo DOXY-Python package'
          #- system: macos  # Disable mac packaging since it probably runs out of diskspace
          #  linkage: dynamic
          #  configuration: Release
          #  targets: 'all package'
          - system: linux
            linkage: dynamic
            configuration: Release
            targets: 'all package'

          # need /MD for static to go with x64-windows-static-md
          - system: windows
            linkage: static
            cmake: > 
              -DIVW_MODULE_EIGENUTILS=ON
              -DIVW_MODULE_HDF5=ON
              -DIVW_MODULE_FFMPEG=ON
              -DIVW_MODULE_WEBBROWSER=ON
              -DIVW_CFG_MSVC_FORCE_SHARED_CRT=ON            

        exclude:
          # Windows debug build are to big, they run out of diskspace
          - system: windows
            configuration: Debug
          # This build fails very close to the end with "ninja: build stopped: interrupted by user."
          - system: linux
            linkage: static
            configuration: Debug

      fail-fast: false
      
    runs-on: ${{ matrix.os }}
    timeout-minutes: 360
    
    steps:
    - name: Chocolatey Install 
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        # Choco-Install is GH Actions wrappers around choco, which does retries
        Choco-Install -PackageName doxygen.install 
        Choco-Install -PackageName nsis
        Choco-Install -PackageName tinytex

    - name: Chocolatey Install paths
      if: runner.os == 'Windows'
      shell: bash
      run: |
        GP=`cygpath -u $GITHUB_PATH` 
        echo "/c/Program Files/doxygen/bin" >> $GP
        echo "/c/Program Files (x86)/NSIS" >> $GP
        echo "/c/tools/TinyTeX/bin/win32" >> $GP

    - name: Brew Install
      shell: bash
      if: runner.os == 'macOS'
      # xcode 14.2 is currently default. 
      run: |
        brew install ninja pkg-config nasm
        sudo xcode-select --switch /Applications/Xcode_15.0.app/Contents/Developer

    - name: Apt Install, switch to gcc-13
      shell: bash
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt install --fix-missing libxinerama-dev libxcursor-dev xorg-dev libglu1-mesa-dev \
                         libglew-dev ninja-build gcc-13 g++-13 nasm
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 130 \
                                 --slave /usr/bin/g++ g++ /usr/bin/g++-13 \
                                 --slave /usr/bin/gcov gcov /usr/bin/gcov-12
        sudo update-alternatives --set gcc /usr/bin/gcc-13
        
    #- name: Setup tmate session
    #  uses: mxschmitt/action-tmate@v3
    #  timeout-minutes: 60
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '>=3.10'
        architecture: 'x64'
    
    - name: Install Python Modules 
      shell: bash
      run: pip3 install numpy Sphinx sphinx-rtd-theme recommonmark
      
    - name: Clone VCPKG
      uses: actions/checkout@v4
      with:
        repository: 'microsoft/vcpkg'
        fetch-depth: 0
        path: 'vcpkg' # The cmake vcpkg present expects vcpkg to be next to the inviwo source folder
    
    # Cache built dependencies for faster subsequent builds
    - name: 'Setup NuGet Credentials'
      shell: bash
      run: >
        ${{ matrix.mono }} `vcpkg fetch nuget | tail -n 1`
        sources add
        -source "https://nuget.pkg.github.com/inviwo/index.json"
        -storepasswordincleartext
        -name "GitHub"
        -username "inviwo"
        -password "${{ secrets.GITHUB_TOKEN }}"

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: 6.4.2
        dir: ${{ github.workspace }}
    
    - name: Clone Inviwo
      uses: actions/checkout@v4
      with: 
        path: inviwo
        submodules: recursive

    - name: "Build Changelog"
      id: build_changelog
      uses: mikepenz/release-changelog-builder-action@v4
      with:
        toTag: ${{ github.ref }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: changelog
      shell: bash
      run: |
        echo "-- Changes --"
        echo "${{ steps.build_changelog.outputs.changelog }}"
        echo "-- End --"

    - name: Activate MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Configure CMake
      shell: bash
      run: >
        cmake -S inviwo -B build --preset ${{ matrix.preset }}
        -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }}
        -DVCPKG_INSTALL_OPTIONS='--clean-after-build'
        -DBUILD_SHARED_LIBS=${{ matrix.cmake_linkage }}
        -DCMAKE_BUILD_TYPE=${{ matrix.configuration }}
        ${{ matrix.cmake }}
        
    - name: Setup C++ Log matchers
      uses: Trass3r/setup-cpp@master

    - name: Build
      timeout-minutes: 360
      shell: bash
      run: > 
        cmake --build build --config ${{ matrix.configuration }} 
        --parallel --target ${{ matrix.targets }}

    - name: Upload installer
      if: matrix.linkage == 'dynamic' && matrix.configuration == 'Release'
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.installer }}
        path: ${{ matrix.artifact }}

    - name: Upload doxygen
      if: matrix.system == 'windows' &&  matrix.linkage == 'dynamic' && matrix.configuration == 'Release'
      uses: actions/upload-artifact@v3
      with:
        name: inviwo-cpp-api
        path: build/docs/inviwo/html/*

    - name: Upload shpinx
      if: matrix.system == 'windows' &&  matrix.linkage == 'dynamic' && matrix.configuration == 'Release'
      uses: actions/upload-artifact@v3
      with:
        name: inviwo-python-api
        path: build/docs/python-api/*
    
    - name: Upload logs
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: logs-${{ matrix.system }}-${{ matrix.linkage }}-${{ matrix.configuration }}
        path: |
          **/*.log
          **/*.txt
          **/*.cmake

  test-installer:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest] # macos-latest,
        include:
          - os: 'windows-latest'
            installer: 'inviwo-installer-win'
          #- os: 'macos-latest'
          #  installer: 'inviwo-installer-macos'
        
    runs-on: ${{ matrix.os }}
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: ${{ matrix.installer }}

    # Windows
    - name: Run Windows Installer
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        # find the name of the installer
        $exe = Get-ChildItem -Name Inviwo-*.exe
        # launch the nsis installer in "silent mode" (/S), should run without user interaction
        Invoke-expression "./$exe /S"
        # this will spawn the installer in the background so we need to wait for it to finish
        $proc = Get-Process | where {$_.ProcessName -like "Inviwo-*"} | Select-Object -First 1
        if ($proc) { 
          Wait-Process -Id $proc.id
        }
        
    - name: Run Inviwo
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        $ver = (Get-ChildItem -Name C:/"Program Files"/Inviwo/*)
        Invoke-expression "C:/'Program Files'/Inviwo/$ver/bin/Inviwo-cli.exe --logconsole --quit"
        if($LASTEXITCODE -ne 0) {
          Invoke-expression "C:\'Program Files (x86)'\'Windows Kits'\10\Debuggers\x64\gflags.exe /i C:/'Program Files'/Inviwo/$ver/bin/Inviwo-cli.exe +sls"
          Invoke-Expression "C:\'Program Files (x86)'\'Windows Kits'\10\Debuggers\x64\cdb.exe -g -c q C:/'Program Files'/Inviwo/$ver/bin/Inviwo-cli.exe"
        }
    
    # Macos
    - name: Run MacOS Installer
      if: runner.os == 'macOS'
      shell: bash
      run: |
        # Find the name of the installer 
        DMG=$(ls Inviwo-*.dmg)
        # Mount installer image
        hdiutil attach $DMG
        # Install by copying Inviwo.app to applications folder
        cp -r /Volumes/${DMG%%.dmg}/Inviwo.app /Applications/
        hdiutil detach /Volumes/${DMG%%.dmg}/

    - name: Run Inviwo
      if: runner.os == 'macOS'
      shell: bash
      run: |
        cd /Applications/Inviwo.app/Contents/MacOS/
        ./Inviwo --logconsole --quit

  update-api-docs:
    if: github.ref == 'refs/heads/master'
    needs: [build, test-installer]
    runs-on: windows-latest
    steps:
      - name: Clone Inviwo
        uses: actions/checkout@v4
        with: 
          ref: gh-pages
          path: inviwo
          submodules: false

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: inviwo-python-api
          path: inviwo/python-api

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: inviwo-cpp-api
          path: inviwo/cpp-api

      - run: |
          cd inviwo
          git add python-api
          git commit -m "Update Python API Docs"
          git push

      - run: |
          cd inviwo
          git add cpp-api
          git commit -m "Update C++ API Docs"
          git push

  update-latest-release:
    if: github.ref == 'refs/heads/master'
    needs: [build, test-installer]
    strategy:
      matrix:
        os: [windows-latest] # macos-latest,
        include:
          - os: 'windows-latest'
            installer: 'inviwo-installer-win'
          #- os: 'macos-latest'
          #  installer: 'inviwo-installer-macos'
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Download installer
      uses: actions/download-artifact@v3
      with:
        name: ${{ matrix.installer }}

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: Inviwo-*
        file_glob: true
        tag: latest
        overwrite: true
        body: "The latest inviwo build, updated for every merged pull request."
