name: Test Installer

on:
  workflow_dispatch:
  workflow_run:
    workflows: [Build Inviwo]
    types: 
      - completed

jobs:
  test-installer:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        include:
          - os: 'windows-latest'
            installer: 'inviwo-installer-win'
            artifact: 'build/inviwo-v*.exe'
            app: 
          - os: 'macos-latest'
            installer: 'inviwo-installer-macos'
            artifact: 'build/Inviwo-v*.dmg'
    runs-on: ${{ matrix.os }}
    steps:
    - name: Download artifact
      uses: dawidd6/action-download-artifact@v2
      with:
        name: ${{ matrix.installer }}
        workflow: inviwo.yml

    ###############################################################################
    # Windows
    ###############################################################################
    - name: Run Windows Installer
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        # find the name of the installer
        $exe = Get-ChildItem -Name Inviwo-*.exe
        # launch the nsis installer in "silent mode" (/S), should run without user interaction
        Invoke-expression "./$exe /S"
        # this will spawn the installer in the background so we need to wait for it to finish
        $proc = Get-Process | where {$_.ProcessName -like "Inviwo-*"} | Select-Object -First 1
        if ($proc) { 
          Wait-Process -Id $proc.id
        }
        
    - name: Run Inviwo
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        $ver = (Get-ChildItem -Name C:/"Program Files"/Inviwo/*)
        Invoke-expression "C:/'Program Files'/Inviwo/$ver/bin/Inviwo-cli.exe --logconsole --quit"
    
    ###############################################################################
    # Macos
    ###############################################################################
    - name: Run MacOS Installer
      if: runner.os == 'macOS'
      shell: bash
      run: |
        # Find the name of the installer 
        DMG=$(ls ${{ matrix.artifact }})
        # Mount installer image
        hdiutil attach $DMG
        # Install by copying Inviwo.app to applications folder
        cp -r /Volumes/${DMG%%.dmg}/Inviwo.app /Applications/
        hdiutil detach /Volumes/${DMG%%.dmg}/

    - name: Run Inviwo
      if: runner.os == 'macOS'
      shell: bash
      run: |
        cd /Applications/Inviwo.app/Contents/MacOS/
        ./Inviwo --logconsole --quit